@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: green;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.form{

    float:right;
}